
<!-- loading part start -->
 <div class="loading">
  <div class="loading-text">
    <span class="loading-text-words">S</span>
    <span class="loading-text-words">P</span>
    <span class="loading-text-words">O</span>
    <span class="loading-text-words">T</span>
    <span class="loading-text-words">L</span>
    <span class="loading-text-words">I</span>
    <span class="loading-text-words">G</span>
    <span class="loading-text-words">H</span>
    <span class="loading-text-words">T</span>
  </div>
</div>

 <!-- loading part end -->