<!-- Spacer to push content down (so navbar doesn't overlap) -->
<div class="navbar-space"></div>

<nav class="navbar">
  <div class="logo">
    <!-- <img src="atom-shape-svgrepo-com.svg" alt="SpotLight Logo" /> -->
    <h1>SpotLight</h1>
  </div>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">How It Works</a></li>
    <li><a href="#">Use Case</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
  </div>
</nav>

<div class="menubar">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</div>
